body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow: hidden;
}

.App{
  display: flex;
  height: 100vh;
 
}

.left{
  width: 30%;
  height: 100%;  
  text-align: center;
  background-color: rgba(208, 179, 95, 1);
  background-image: linear-gradient(210deg, rgba(208, 179, 95, 1) 0%, rgba(226, 206, 101, 1) 100%);
}
.left h1{
  color: #fcfcfc;
  font-size: 45px;
  margin-top: 20px;
}
.left p{
  color: #fcfcfc;
  font-size: 20px;
  margin-top: 20px;

}

.right{
  width: 70%;
  height: 100%;
  text-align: center;

}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;

} 

.login-box {
  margin: auto;
  width: 370px;
  padding: 40px;
  box-sizing: border-box;
  
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f6fafa;
  font-size: 18px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #f3f5f5;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  border: 2px solid white;
  letter-spacing: 5px
  
}

.login-box a:hover {
  background: #f8fafa;
  color: #d8d78f;
  border-radius: 5px;
  box-shadow: 0 0 5px #fafafa,
              0 0 25px #f4f6f7,
              0 0 50px #f5f6f7,
              0 0 100px #f2f5f5;
}

.login-box a span {
  position: absolute;
  display: block;
}


.radio-inputs {
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 13px;
  width: 300px;
  font-size: 14px;
  margin-bottom: 40px;
  border: 2px solid white;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #c4be77;
  font-weight: 600;
}
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background-color: #EEE;
  background-image: none;
  flex: 1;
  border-radius: 0.5rem;
  padding: 0 .5em;
  color:#3a3838;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  margin:auto;
  width: 296px;
  height: 3em;
  line-height: 3;
  background: #fcfdfd;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 60px;
  border: 2px solid white;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #c0b274;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #f8f8f8;
}